#-*-Makefile-*- vim:syntax=make
#
# modflex.target
#
# The modflex target file.
#

PLATFORM = modflex
PROGRAMMER ?= avrdude
DEFAULT_PROGRAM_AVR = avrispmkii

VOLUMEFILE = volumes-atxm256.xml
VOLUME_ALLOCATOR = tos-storage-atxm256
VOLUME_FLAGS =

BLIP_L2_MTU=115

ifeq ($(PROGRAMMER),avrdude)
  PROGRAMMER_HFUSE_FLAGS ?= 
  PROGRAMMER_PART ?= -p x256a3
endif

ifdef RF212_CHANNEL
  PFLAGS += -DRF212_DEF_CHANNEL=$(RF212_CHANNEL)
endif

ifndef BUILD_NUMBER
	BUILD_NUMBER = $(shell hostname)
endif
PFLAGS += -DBUILD_NUMBER_STRING=\"$(BUILD_NUMBER)\"

$(call TOSMake_include_platform,avr)

modflex: $(BUILD_DEPS)
	@:
